.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.search-history-label {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.timeline-item {
  cursor: pointer;
  padding: 5px;
}
.timeline-item:hover {
  background-color: white;
}

.clear-all-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
  text-decoration: underline;
}
